li:nth-child(2){
    color: #f00;
}

li:nth-child(3n){
    color: #00f;
}

li:hover{
    background-color: #999;
}

input:focus{
    background-color: #f00;
}

/* Pseudo-elementos -> ::before e ::after*/
li::before{
    content: "(antes) ";
}

li::after{
    content: " (depois)";
}

li:first-child{
    color: #ffae00;
}

li:last-child{
    color: #ff00b3;
}

li:not(:first-child){
    color: #00ffff;
}