@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 12px;
  font-family: "Libre Baskerville", serif;

}

.p1 {
  margin-top: 0.5rem;
  font-size: 12px;
}

header > h1{
  margin-top: 0.5rem;
}

.secao-centro{
  text-align: center;
}

.botao-centro{
  border-radius: 75px;
  padding: 0.4rem;
  margin: 1rem 0.3rem;
  margin-bottom: 2.52rem;
}
