@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 12px;
  font-family: "Lora", serif;
}

.p1 {
  font-family: "Lora", serif;
  margin-top: 0.5rem;
  font-size: 12px;
}

header > h1{
  margin-top: 0.5rem;
}

.secao-centro{
  text-align: center;
}

.botao-centro{
  border-radius: 75px;
  padding: 0.4rem;
  margin: 1rem 0.3rem;
  margin-bottom: 2.52rem;
  cursor: pointer;
}

footer{
  text-align: center;
  background-color: #030308;
  color: #fff;
  padding: 2rem;
}

.botao-azul{
  background-color: #43abf6;
  color: #fff;
  border: 1px solid #43abf6;
}

.botao-preto{
  background-color: #030308;
  color: #fff;
}

h2{
  color: #343332;
}

#menina-sentada{
  height: 36rem;
  width: 43rem;
  margin-bottom: 1.87rem;
}

:hover.botao-preto{
  background-color: #342587;
  color: #c1701e;
}

:hover.botao-azul{
  background-color: #6c1010;
  color: #5c5392;
}