/* Primeiro vamos tirar as margens e preenchimentos padãos. */

/* Corrigindo os erros cometidos, atrelado a correção da aula 61.*/

*{
    margin: 0;
    padding: 0; 
}

li{
    background-color: #3a3a3a;
    border: 4px solid transparent;
    padding: 32px;
    border-radius: 4px;
    height: 250px; 
    width: 400px;
    display: inline-block;
    color: white;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 32px;
}

.selected{
    background-color: #363338;
    border: 4px solid #0088d8;
}

.hidden{
    display: none; 
    /* Esconde os elementos */
}

